body {
    display: flex;
    background-color: #212121;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    font-size: 120%;
}

main {
    width: 70vw;
    height: 95vh;
    background-color: #454545;
    padding: 5px;
}

.round-border {
    border-radius: 20px;
}