body {
    display: flex;
    background-color: #301e1ea5;
    justify-content: center;
    vertical-align: middle;
    
}

main {
    margin-top: 10px;

    width: 70%;
    max-width: 800px;

    height: 70%;
    max-height: 600px;

    background-color: #f1f2f2;
}

.container {
    padding-top: 3px;
    padding-bottom: 12px;
}

.round-border {
    border-radius: 10px;
}