body {
    display: flex;
    background-color: #9bad93;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    font-size: 110%;
}

main {
    width: 55vw;
    height: 80vh;
    background-color: #ebf3e8;
    padding: 4px;
}

.round-border {
    border-radius: 10px;
}