.login-button {
    justify-content: center;    /* horizontal */
    align-items: center;        /* vertical   */
    width: 15rem;

    height: 2rem;
    /* width: ; */
    /* min-width: 100%; */

    border: none;

    margin: 8px;

    font-weight: bold;
}

/* main {
    height: ;
} */

.login-button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.round-border {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #fff9f9;
}

#login-anonymous {
    background-color: #d5d5d5;
    color: black;
}

#login-with-email:hover,
#login-anonymous:hover {
    font-weight: bold;
    background-color: #c3a9a9;
    color: #faeded;
}

#login-with-email {
    background-color: #f5d8d8;
    color: black;
}