body {
    display: flex;
    /* background-color: #212121; */
    background-color: #5a796e;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    font-size: 120%;
}

main {
    width: 90vw;
    height: 95vh;
    background-color: #dfffff;
    padding: 5px;
}

.round-border {
    border-radius: 20px;
}