.login-button {
    justify-content: center;    /* horizontal */
    align-items: center;        /* vertical   */
    width: 70%;

    height: 35px;

    border: none;
    margin: 8px;
    /* font-weight: bold; */
}

.login-button-container {
    padding: 10px;
    width: 75%;
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: #eafdfd;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #1a1f1a; Set your border style */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Set your shadow style */
    /* padding: 10px; Add some padding to make the shadow more visible */
}

.round-border {
    border-radius: 10px;
}

#login-anonymous {
    background-color: rgb(69, 86, 80);
    color: #ffffff;
}

#vertical-divider {
    height: 70%;
    width: 1.7px;
    background-color: #313e319a;
}

#horizontal-divider {
    height: 2px; 
    width: 95%; 
    background-color: #313e319a; 
    margin: 15px; 
    transition: left 1s ease;
}

#login-with-email:hover {
    /* font-weight: bold; */
    background-color: #aae49f;
    color: black;
}

#login-anonymous:hover {
    /* font-weight: bold; */
    background-color: rgb(163, 218, 198);
    color: black;
}

#login-with-email {
    background-color: #40a198;
    color: #f3f3f3e5;
}

#register {
    background-color: #bdd5d1;
    color: #051e33e5;
}
#register:hover {
    background-color: #357cb1;
    color: #f3f3f3e5;
}

#main-logo {
    flex-direction: column;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.flex-column-center {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.flex-row-center {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}